body{
text-align: center;
}

.titleText{
font-weight: bold;
}

*{
font-family: "Courier New", Courier, monospace;
}

.leftCol{
float: left;
width: 33.3%;
padding: 50px;
}

.rightCol{
float: right;
width: 33.3%;
padding: 50px;
}
